﻿img#logo {
    height: 50px;
}

p.current-date {
    padding: 0px 15px 0px 15px;
}

.padding {
    padding: 15px;
}

.level1 {
}

/* Main menu */
/*
#nav {
	position:relative;
	width:620px;
	margin:0 auto; 
	margin-top:50px;
	padding:10px;
}
*/

ul#menu {
	margin:0px auto;
	position:relative;
	float:left;
	border-left:1px solid #c4dbe7;
	border-right:1px solid #c4dbe7;
}

ul#menu li {
	display:inline;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	float:left;
	position:relative;
	border-top:1px solid #c4dbe7;
	border-bottom:2px solid #c4dbe7;
}

ul#menu li a {
	padding:10px 25px;
	color:#616161;
	text-shadow:1px 1px 0px #fff;
	text-decoration:none;
	display:inline-block;
	border-right:1px solid #fff;
	border-left:1px solid #C2C2C2;
	border-top:1px solid #fff;
	background: #f5f5f5;
	
	-webkit-transition:color 0.2s linear, background 0.2s linear;	
	-moz-transition:color 0.2s linear, background 0.2s linear;	
	-o-transition:color 0.2s linear, background 0.2s linear;	
	transition:color 0.2s linear, background 0.2s linear;	
}

ul#menu li a:hover {
	background:#f8f8f8;
	color:#282828;
}

ul#menu li a.first {
	border-left: 0 none;
}

ul#menu li a.last {
	border-right: 0 none;
}

ul#menu li:hover > a {
	background:#fff;
}


/* Drop-Down menu */
ul#menu li:hover > ul
{
/*these 2 styles are very important, 
being the ones which make the drop-down to appear on hover */
	visibility:visible;
	opacity:1;
}

ul#menu ul, ul#menu ul li ul {
	list-style: none;
    margin: 0;
    padding: 0;    
/*the next 2 styles are very important, 
being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
	width:180px;
	background:#f8f8f8;
	box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
	-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
	transition:opacity 0.2s linear, visibility 0.2s linear; 	
}

ul#menu ul {
    top: 43px;
    left: 1px;
}

    ul#menu ul li ul {
        top: 0;
        left: 181px; /* strong related to width:180px; from above */
        /*Menu 2*/
        /*
#menuDiv {
  font-size:14px;
  position:absolute;  
}

#menuDiv ul {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
}

#menuDiv li.topmenu {
  float:left;
}

.topmenu a {
  float:left;
  width:110px;
  text-align:center;
}

.topmenu ul{
  display:none;
}

.topmenu a, .submenu a{
  padding:1px 5px;
  border:1px solid #C37000;
  border-collapse:collapse;
  color:#C37000;
  font-weight:bold;
  text-decoration:none;
  background-color:#7F4800;
  margin:0;  
}

.submenu a{
  font-size:12px;
  width:110px;
  position:relative;
  clear:both;
}

#menu a:hover, .topmenu.on a {
  color:#4C4C4C;
  background-color:#ffddbb !important;
}

.topmenu:hover ul {
  display:block;  
  z-index:500;

*/
}