﻿.list-item {
    width: 100%;
    margin: 15px auto 15px auto;
    border-radius: 15px;
    padding: 0;
    border: 2px solid;
    box-shadow: 3px 3px 5px #888888;
    background: #ddd
}

.list-edit {
    background: #ffeac0;
}

.list-header {
    background: #ccc;
    border-radius: 15px 15px 0 0;
    padding: 15px;
}

.list-header-only {
    background: #ccc;
    border-radius: 15px;
    padding: 15px;
}

.list-edit>.list-header
{
    background: #aaa;
}

.list-body {
    border-radius: 0 0 15px 15px;
    padding: 15px;
}

.list-body-only {
    border-radius: 15px;
    padding: 15px;
}

.list-header:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.float-container:after {
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.list-header-left {
    float: left; 
    margin: 0 .25em 0 0;
}

.list-header-right {
    float: right;
    margin: 0 0 0 10px;
}

.news-title {
    font-weight: bold;
}

.textarea {
    width: 100%;
    min-height: 100px;
}