﻿#form1 {
    position: relative;
    left: 0px;
}
.upperpanel {
    position: relative;
    height:102px;
    width: 100%;
    padding:0px 0 0px;
    background:url(Images/header_bg.png) repeat-x;
    color:#FFF;
    z-index:10;
}

.level5 {
    
    border-color: #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
}

.level1 {
    padding-left: 2px;
    padding-right: 0;
    float: left;
    background-position: right top;
    position: relative;
    top: 50%;
    margin: 0;
    padding: 0;
    border: 5px;
    border-color: #DDD;
    outline: 0;
    color: #DDD;
    font-weight: inherit;
    font-style: inherit;
    font-size: 25px;
    font-family: inherit;
    vertical-align: baseline;
    background-image: url(Images/navigation_sprite.png);
    background-size: auto;
    background-repeat: repeat-x;
    border-style: solid;
    border-width: thin;
}

.level2 {
    width: 130%;
    font-size: 100%;
    text-align: left;
    color: #DDD;
    background-color: #DDD;
    margin: 0;
    padding: 0;
    border: 1px;
    border-color: #DDD;
    outline: 0;
    vertical-align: baseline;
   
}

.auth
 {
    position: fixed;
    top: 3%;
    right: 5%;
    z-index: 50;
    color: #DDD;
}

.auth li, .auth li a {
     color: #DDD;
    font-size: 25px;
}




body {
       font-family: helvetica,sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        font-size-adjust: none;
        font-stretch: normal;
        -x-system-font: none;
        -moz-font-feature-settings: normal;
        -moz-font-language-override: normal;
	background: radial-gradient(circle, rgb(170, 170, 170), rgb(238, 238, 238) 60%) repeat fixed center center transparent;
       	background-color: transparent;
        background-image: radial-gradient(circle, rgb(170, 170, 170), rgb(238, 238, 238) 60%);
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center center;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    margin: 0px;
    width:  100%;
}

.hide {
    display:none;
}

.validationFailed {
    color: red;
    font-weight: bold;
}

.success {
    color: forestgreen;
}

.error {
    color: red;
}