﻿<%@ Page Title="Melvin" Language="C#" MasterPageFile="~/Members/Members.master" AutoEventWireup="true" CodeBehind="Melvin.aspx.cs" Inherits="Team_3_Website.Melvin" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MemberContent">
    <asp:Image ID="Image" runat="server" CssClass="padding" Height="300px" ImageAlign="Left" ImageUrl="~/Images/melvin.png" />

    <p>        
        <h3>Lebenslauf:</h3><br />
        Studiert Informatik am KIT in Karlsruhe
    </p>

    <p>        
        <h3>E-Mail:</h3><br />
        -
    </p>

    <p>        
        <h3>Hobbies</h3><br />
        Sport (Radfahren, Fitness)<br />
        Hörbücher (Perry Rhodan, u.a)<br />
        Kino<br />
        Nasebohren<br />
        Ironie

    </p>
</asp:Content>