﻿<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Members.master.cs" Inherits="Team_3_Website.Members.Members" %>

<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
    Ein paar wenige Informationen im Schnellüberblick.
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <article>
        <asp:ContentPlaceHolder runat="server" ID="MemberContent"></asp:ContentPlaceHolder>   
    </article>
</asp:Content>
