﻿.letter {
    width: 17px;
    height: 17px;
    margin: -1px -1px 0 0; /* eliminate double border */
    border: 1px solid black;
    outline: none;
    outline-width: 0;
    box-shadow: none;
    text-align: center;

    z-index: 0;

    text-transform: uppercase;
}

.letter:focus {
    z-index: 1; /* does not work... */
    border: 1px solid black;
    background-color: #7ac0da;
}

.solution {
    background-color: #ddd;
}

.crossword > tbody > tr > td {
    padding: 0;
    margin: 0;
}

.description {
    padding-right: 5mm !important;
    text-align: right;
    white-space: nowrap;
}

.result-check {
    padding-left: 5mm !important;
}

.tbs {
    margin: 10px 0 10px 0;
}